body{ 
    /*重製邊界*/
    margin: 0; padding: 0; 
}
div{
    margin:0px;
}
img{
    /*去除img底下的白邊*/
    display:block;
}
.frame{
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.left{
    font-weight: bold;
    margin-left: 20px;
}
.right{
    display: flex;
    flex:auto;
    justify-content: flex-end;
    font-size: 20px;
}
.menuIcon{
    width: 40px;
    display: none;
}
.item{
    display: block;
    margin: 10px;
    font-size: 20px;
}
.welBoard{
    background: #bae8f1;
    height: 250px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcomeTxt{
    font-weight: bold;
    font-size: 40px;
}

.photoBox{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.first{
    width:100%;
    flex :none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flexPhoto{
    flex :none;
    display: flex;
}
.photoTxt{
    padding-left: 5px;
    font-size: 20px;
}
.box1{
    background: #bae8f1;
    height: 50px;
    width: 380px;
    font-size: 20px;
    margin:10px
}
.box2{
    background: #bae8f1;
    height: 50px;
    width: 380px;
    font-size: 20px;
    margin:10px
}
.box3{
    background: #bae8f1;
    height: 50px;
    width: 380px;
    font-size: 20px;
    margin: 10px;
}
.opacity{
    background-color: aliceblue;
    opacity: 0.8;
    height: 40px;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    right: 1px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondPhoto{
    width: 180px;
    flex :none;
    margin: 10px;
    font-size: 20px;
    z-index: 3;
    position: relative;
}
.star{
    width: 35px;
    position: absolute;
    top: 3px;
    right: 3px;
    filter: grayscale(1);
}
.photoTxt{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.photoTxt2{
    display: flex;
    font-size: 20px;
}
.img{
    width:80px;
	height: 50px;
	object-fit: cover;
}
.img2{
    width: 100%;
	height: 180px;
	object-fit: cover;
}
.br{
    display: none;
    width: 100%;
}
.hide{
    display: none;
}
.itemNav{
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    z-index: 5;
    box-shadow: 0px 0 20px;
}
.itemCss{
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
    text-align: center;
    background: #ffb2b2;
}
.leaveNav{
    border-radius: 5px;
    height: 40px;
    background: #cecece;
    position: absolute;
    bottom: 0px;
}
@media (max-width:1200px){
    .welBoard{
        background: #bae8f1;
        height: 250px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuIcon{
        display: none;
    }
    .item{
        display: block;
        margin: 10px;
        font-size: 20px;
    }
    .photoBox{
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .first{
        width:100%;
        flex :none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flexPhoto{
        flex :none;
        display: flex;
    }
    .box1{
        background: #bae8f1;
        height: 50px;
        width: auto;
        font-size: 20px;
        margin:10px;
        flex-grow:1;
    }
    .box2{
        background: #bae8f1;
        height: 50px;
        width: auto;
        font-size: 20px;
        margin:10px;
        flex-grow:1;
    }
    .box3{
        background: #bae8f1;
        height: 50px;
        width: 380px;
        font-size: 20px;
        margin: 10px;
        flex-grow:1;
    }
    .secondPhoto{
        width: 20%;
        flex :none;
        margin: 10px;
        font-size: 20px;
        flex-grow:1;
    }
    .br{
        display: block;
    }
}
@media (max-width:600px){
    div{
        margin:0px;
    }
    .frame{
        width: 100%;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
    .left{
        font-weight: bold;
        margin-left: 20px;
    }
    .right{
        display: flex;
        flex:auto;
        justify-content: flex-end;
        font-size: 20px;
    }
    .menuIcon{
        display: block;
    }
    .item{
        margin: 10px;
        font-size: 20px;
        display: none;
    }
    .welBoard{
        background: #bae8f1;
        height: 250px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcomeTxt{
        font-weight: bold;
        font-size: 40px;
    }
    
    .photoBox{
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .first{
        width:100%;
        flex :none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flexPhoto{
        flex :none;
        display: flex;
    }
    .box1{
        background: #bae8f1;
        height: 50px;
        width: 100%;
        font-size: 20px;
        margin:10px;
    }
    .box2{
        background: #bae8f1;
        height: 50px;
        width: 100%;
        font-size: 20px;
        margin:10px;
    }
    .box3{
        background: #bae8f1;
        height: 50px;
        width: 100%;
        font-size: 20px;
        margin: 10px;
    }
    .secondPhoto{
        width: 100%;
        flex :none;
        margin: 10px;
        font-size: 20px;
        flex-grow:1;
    }
    .photoTxt{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .photoTxt2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .img{
        width:80px;
        height: 50px;
        object-fit: cover;
    }
    .img2{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .br{
        display: block;
    }
}